.form-group input {
  width: 80%;
}


.loginBody {
  background-color: #F1F1F1;
  padding-top: 100px;
  padding-bottom: 249px;
  /*background-image: url('../../assets/SentInsi8.jpg');*/
  background-repeat: no-repeat;
  min-width: 100%;
  background-size: 100% 100%;
  background-position: center;
}