 <!-- main app container -->
          <alert></alert>

<!--<div class="topNav">-->
<!--<div class="topLeft">Centement Analysis</div>-->
<!--<div class="topRight">-->
<!--<ul>-->
<!--<li>profile </li>-->
<!--<li>Logout </li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<h1 >-->
<!--Welcome to {{ title }}!-->
<!--</h1>-->

<!--<h2 *ngIf="userDetails">Welcome {{userDetails.first_name}} {{userDetails.last_name}}</h2>-->
<!--<input type="text" placeholder="set search term" [(ngModel)]="term" required>-->
<!--<button (click)="setSearchKeyWord(term)">Search</button>-->

<!--<p><a [routerLink]="['/login']">Logout</a></p>-->


<!-- Main Header -->
<body>
<!--<header>-->
<!--<h1>Centement Analysis</h1>-->
<!--</header>-->


<!-- Small Top Bar -->
<header id="help">
    <span>Mine Your Opinion</span>
</header>


<!-- Main Navigation -->
<nav>
    <ul>
        <li>
            <h4 class="top_logo">
                <span>Centement</span> Analysis</h4>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-chart-bar ssiconsvg"></i>
                <span>RESULTS</span>
                <!--<svg class="ssiconsvg _reports" viewBox="0 0 16 16" style="width: auto;">-->
                <!---->
                <!--</svg>-->
            </a>
        </li>
        <li>
            <a href="#" class="active">
                <i class="fas fa-search ssiconsvg"></i>
                <span>SEARCH</span>
            </a>
        </li>
        <li>
            <a href="#">Frequency</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>

    </ul>
    <ul>
        <li>
            <p><a [routerLink]="['/login']">Logout</a></p>
        </li>
    </ul>
</nav>


<router-outlet></router-outlet>


<!-- Main Footer -->

<footer>
    <h3>CopyRight &copy; 2018, Centement Analysis </h3>
    <p>All Rights Reserved</p>
    <small>Developed & miantained by Team XXXXXXXX..</small>
</footer>

</body>



