<!-- Side bar section -->
<!-- commentin as of now by akshay raj-->

<!--<aside>
  <ul>
    <li>
      <a href="#">Smart Search</a>
    </li>
    <li>
      <a href="#">Suggestions</a>
    </li>
    <li>
      <a href="#">Clean up</a>
    </li>

  </ul>
</aside>-->



<!-- Main Content -->

<!--<h2 *ngIf="userDetails">Welcome {{userDetails.first_name}} {{userDetails.last_name}}</h2>-->

<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class=" col-lg-8">
            <span class="card card-sm">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body" style="visibility: hidden"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" [(ngModel)]="term" required
                               placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div  class="col-auto mr-3 search-bar" (click)="setSearchtrackWord(term)">
                        <!--<button class="btn btn-lg btn-success" type="submit" (click)="setSearchKeyWord(term)">Search</button>-->
                    <a class="fas fa-search h4 text-body pt-2" ></a>
                    </div>
                    <!--end of col-->
                </div>
            </span>
        </div>
        <!--end of col-->
    </div>
</div>
<alert></alert>
<div class="search-result">
    <!--<h6 class="search-heading">Search Results</h6>-->
    <div *ngIf="loading">
        <div class="response-loading-div">
            <img src="assets/aaa.gif" alt="Loading...">
            <!--<span></span>-->
        </div>
    </div>
    <div  [style.display]="(!loading)?'inherit': 'none' ">
        <table  mat-table class="mat-elevation-z8" [dataSource]="dataSource">

            <!-- trackWord Column -->
            <ng-container matColumnDef="trackWord">
                <th mat-header-cell *matHeaderCellDef> Search Word </th>
                <td mat-cell *matCellDef="let element"> {{element.trackWord}} </td>
            </ng-container>

            <!-- time Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Request Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time | date:'medium'}} </td>
            </ng-container>

            <!-- Results Column -->
            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef> View </th>
                <td mat-cell *matCellDef="let element">
                    <a class="text-primary" (click)="viewResult(element)"><span>Results</span></a>
                </td>
            </ng-container>

            <!-- Symbol Column -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->



<!--<input  class="inputSearch" type="text" placeholder="set search term" >-->
<!--<button class="tg-btn" >Search</button>-->




<!--<section>
  &lt;!&ndash; HTML &ndash;&gt;
  <details>
    <article>Your Job ID Generated is :</article>


    &lt;!&ndash;<article>&ndash;&gt;
      &lt;!&ndash;<h3>HTML</h3>&ndash;&gt;
      &lt;!&ndash;<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, praesentium. Est et minima&ndash;&gt;
        &lt;!&ndash;molestias neque, nesciunt quod recusandae vel.</p>&ndash;&gt;
      &lt;!&ndash;<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur assumenda autem doloremque ex&ndash;&gt;
        &lt;!&ndash;hic ipsum iste laboriosam, magnam nam nesciunt nisi nobis nostrum reiciendis rerum suscipit totam vero,&ndash;&gt;
        &lt;!&ndash;voluptatibus.</p>&ndash;&gt;
    &lt;!&ndash;</article>&ndash;&gt;
  </details>

</section>-->

