/* ----- SIDE BAR ----*/

aside {
    background-color: #515F60;
    float: left;
    width: 200px;
    text-align: center;
    height: 400px;
    /*overflow-y: scroll;*/
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 25px;
}


aside ul li a:hover {
    background-color: #1C2525;
    color: white;
}

#hoverIcon a:hover{
    /*color: ;*/
}

/* ----- Main Body ---*/

.pieCharts {
    height: 360px;
    float: left;
}

#piediv1,#piediv2 {
    height: 360px
}

#stockdiv1 {
    width: 100%;
    height: 102%;
}