
body {
    font-family: "Comic Sans MS", SansSerif;
    margin: 0;
}
header, footer {
    background-color: cadetblue;
    color:black;
    padding: 10px;
    text-align: center;
}
header span {
    font-weight: bold;
    font-size: 12px;
    color:rgb(89, 203, 89) !important;
}


/* ------------- Top Bar ----*/

#help {
    height: 22px;
    background-color: #162020;
    padding: 0;
    margin: 0;
}

#help span {
    color:white;
}


/* -------------- Main navigation ----------------- */
nav {
    background-color: #2A3736;
    overflow: hidden;
    height: 59px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    /*max-width:105px*/
}

nav ul li a {
    text-decoration: none;
    /*color: white;*/
    padding: 10px 25px;
    display: inline-block;
    font-size: 18px;


    /*display: block;*/
    letter-spacing: .04em;
    color: #b0b6b7;
    transition: background-color .1s;
    padding-bottom: 21px;
}


nav ul li a i {
    padding-left: 14px;

}
nav ul li a:hover {
    background-color: #1C2525 ;
    color: #fff;
}

nav ul li a.active {
    background-color: #1C2525;
    color: #fff;
}
.ssiconsvg {
    pointer-events: none;
    transition: all .15s cubic-bezier(.4,0,.2,1);
    width: 20px;
    height: 20px;
    fill: #b0b6b7;
}


nav ul li a  span {
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.5px;
    display: block;
    transition: all .15s cubic-bezier(.4,0,.2,1);
    opacity: 1;
}

.top_logo {
    padding: 12px 8px 0 8px;
    color: white;
    font-size: 28px;
    margin: 0 30px 0 12px;
}

.top_logo span {
    color: rgb(89, 203, 89);
    font-family: Gill Sans, sans-serif;
    font-weight: 800;
}



footer {
    line-height: 10px;
}

nav .logOut {
    float: right;
}

.logOut span {
    font-size: 14px !important;
}


