<!-- Main Header -->
<body>
<!--<header>-->
<!--<h1>Centement Analysis</h1>-->
<!--</header>-->


<!-- Small Top Bar -->
<header id="help">
    <span>Mine Your Opinion</span>
</header>


<!-- Main Navigation -->
<nav>
    <ul>
        <li>
            <h1 class="top_logo">
                <span>Sent</span>insi8</h1>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="/home/results">
                <i class="fa fa-chart-bar ssiconsvg"></i>
                <span>RESULTS</span>
                <!--<svg class="ssiconsvg _reports" viewBox="0 0 16 16" style="width: auto;">-->
                <!---->
                <!--</svg>-->
            </a>
        </li>
        <li>
            <a routerLink="/home/search" class="active">
                <i class="fas fa-search ssiconsvg"></i>
                <span>SEARCH</span>
            </a>
        </li>

    </ul>
    <ul class="logOut">
        <li>
            <p><a (click)="logout()" [routerLink]="['/login']">Logout</a></p>
        </li>
    </ul>
</nav>


<router-outlet></router-outlet>

<!-- Main Footer -->

<footer class="page-footer">
    <h6>CopyRight &copy; 2018, Sentinsi8 </h6>
    <p>All Rights Reserved</p>
    <small>Developed & miantained by Team <em style="font-weight: bold"> Monad Thugs</em></small>
</footer>


</body>

