.form-group input {
  width: 80%;
}


.registerBody {
  background-color: #F1F1F1;
  padding-top: 80px;
  padding-bottom: 97px;
  background-image: url('../../assets/MLseries-1.png');
  background-repeat: no-repeat;
  min-width: 100%;
  background-size: 100% 100%;
  background-position: center;
}

.color_yello {
  color: #fff;
  font-weight: 600;
}